# dependencies
node_modules

# build
dist
generated

# env
.env
.env.*

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo

# test
coverage

# misc
*.pem
*.tsbuildinfo
!.env.example
